*{margin:0;padding:0;list-style: none;text-decoration:none;}
/*=================头部导航===============================*/
header{width:100%;height:150px;background:#212121;}
header nav{height:150px;width:1200px;/*overflow: hidden;*/box-sizing: 	border-box;/*background: pink;*/margin:0 auto;}
header nav h1,header nav>ul{float:left;/*background:purple;*/}
header nav>div{float:right;/*background:purple;*/width:16%;margin-top:5%;}
header nav>div a{width:45%;margin-right:10%;float:left;height:40px;
	border-radius:20px;border:0;background:none;text-align:center;
	line-height: 40px;}
header nav>div a:first-of-type{box-shadow:0px 0px 0px 2px blue;
	color:blue;}
header nav>div a:last-of-type{margin-right:0;background: 	blue;color:white;}
header nav>ul{/*overflow: hidden;*/box-sizing: 	border-box;margin-top:5%;
	width:56%;margin-left:8%;}
header nav>ul>li{float:left;/*background:yellow;*/
	width:14.4%;margin-right:7%;
	text-align: center;height:40px;line-height:40px;border-radius:20px;}
header nav>ul>li>a{color:white;}
header nav>ul>li:last-of-type{margin-right:0;position:relative;}
header nav>ul>li:hover{background:white;}
header nav>ul>li:hover>a{color:blue;}
header nav h1{width:17%;height:50%;line-height:200%;margin-top:3%;
	font-size:40px;color:white;}
header nav h1 mark{background:none;color:blue;margin-right:20px;}
/*---二级菜单---*/
.erji{position:absolute;top:40px;left:0;clear: 	both;display:none;z-index:1;}
.erji li{width:100px;height:40px;border-top:3px solid 	#FFFAF5;border-bottom:3px solid #FFFAF5;border-radius:5px;
	background:white;margin-top:20px;}
.erji li a{color:black;font-size:14px;}
.erji p{width:0;height:0;border-width:5px;border-style:solid;
	border-color:transparent transparent white	transparent;position: 	absolute;top:10px;left:44px;}
header nav>ul>li:last-of-type:hover .erji{display:block;}
header nav>ul>li:last-of-type .erji li:hover a{color:blue;}
/*---二级菜单---*/
/*==============================头部导航==========================*/

/*==============================sec1=============================*/
.sec1{width:100%;height:400px;background:url("../img/login/1.jpg") 	no-repeat; background-size:100% 100%;}
/*==============================sec1=============================*/

/*==============================sec2=============================*/
.sec2{width:100%;}
.wrap2{width:1200px;height:320px;overflow:hidden;box-sizing:border-box;
	/*background:pink;*/margin:0 auto;}
.wrap2>p{width:100%;height:50px;border-bottom:1px solid gray;
	overflow:hidden;line-height:50px;font-size:18px;color:#009FE9;}
.wrap2>p a{display:inline-block;border-bottom:2px solid #009FE9;
	height:48px;}
.wrap2 ul{width:25%;margin:0 auto;/*background:green;*/overflow:hidden;
	box-sizing:border-box;}
.wrap2 ul li{margin-top:14px;}
.wrap2 ul li:nth-of-type(1) input{width:98%;height:30px;text-indent:2em;
	background:url("../img/login/21.png") no-repeat #F7F7F7;}
.wrap2 ul li:nth-of-type(2) input{width:98%;height:30px;
	text-indent:2em;background:url("../img/login/22.png") no-repeat 	#F7F7F7;}
.wrap2 ul li:nth-of-type(3) button{width:100%;height:50px;
	background: #5AB4FF;border:0;color:white;}
.wrap2 ul li:nth-of-type(4){overflow: hidden;width:100%;height:30px;
	border-bottom:1px solid gray;}
.wrap2 ul li:nth-of-type(4) a{float:right;margin-top:10px;
	color:grey;}
.wrap2 ul li:nth-of-type(5){height:50px;overflow:hidden;
	box-sizing:border-box;padding-top:8px;font-size:16px;
	color:gray;}
.wrap2 ul li:nth-of-type(5) a{display: inline-block;width:20px;
	height:20px;border-radius:50%;}
.wrap2 ul li:nth-of-type(5) img{vertical-align: top;margin-left:10px;}
/*==============================sec2=============================*/
/*========================sec3================================*/
.sec3{width:100%;height:250px;background:#24262A;overflow:hidden;}
.wrap3{width:1200px;margin:0 auto;overflow:hidden;
	box-sizing:border-box;}
.wrap3>ul:first-of-type{width:100%;overflow: hidden;margin-top:50px;}
.wrap3>ul:first-of-type li{width:33%;border-right:1px solid 	#9D9D9D;overflow: hidden;float:left;height:100px;}
.wrap3>ul:first-of-type li:nth-of-type(1){}
.wrap3>ul:first-of-type li:nth-of-type(1) img{float:left;}
.wrap3>ul:first-of-type li:nth-of-type(1) div{float:left;margin:0 0 0 	20px;}
.wrap3>ul:first-of-type li:nth-of-type(1) div p{color:#9D9D9D;}
.wrap3>ul:first-of-type li:nth-of-type(1) div span{color:#9D9D9D;
	font-size:38px;}
.wrap3>ul:first-of-type li:nth-of-type(2){line-height:100px;
	text-align:center;color:#9D9D9D;}
.wrap3>ul:first-of-type li:nth-of-type(2) p{}
.wrap3>ul:first-of-type li:nth-of-type(3){padding-left:50px;
	box-sizing:border-box;color:#9D9D9D;border-right:0;}
.wrap3>ul:first-of-type li:nth-of-type(3) p{margin:25px 0 10px 0;}
.wrap3>ul:first-of-type li:nth-of-type(3) span{}
.wrap3>p{margin:30px auto 0;width:230px;color:#9D9D9D;}
.wrap3>ul:last-of-type{overflow: hidden;width:27%;margin:0 auto;}
.wrap3>ul:last-of-type li{float: left;border-right:1px solid #9D9D9D;
	box-sizing:border-box;padding:0 10px;}
.wrap3>ul:last-of-type li:last-of-type{border-right:0;}
.wrap3>ul:last-of-type li:nth-of-type(2){
	background:url("../img/img1/82.png") no-repeat 75px 2px;}
.wrap3>ul:last-of-type li a{color:#9D9D9D;}
.wrap3>ul:last-of-type li:hover a{color:white;}
/*========================sec3================================*/